.site-header{
    padding: 12px;
    margin-top: 10px;
    background:linear-gradient(135deg, #1061ee, #a1b9e6);
    border-radius: 60px;
    width: 50%;
    text-align: center;
    
}
.header-container{
    display: flex;
    justify-content: center;
}

.site-title-link{
    color: white;
    text-decoration: none;
}

.site-title-link:active{
    color: rgb(241, 241, 62);
}

/* Tablet and below */
@media (max-width: 1024px) {
    .site-header {
        width: 70%;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .site-header {
        width: 90%;
        border-radius: 30px;
    }
    
    .site-header h1 {
        font-size: 1.5rem;
    }
}