.property-card{
    background-color: rgba(180, 184, 184, 0.636);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    transition: tranform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.property-card-actions{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.property-info-list{
    text-decoration: none;
    font-weight: bold;
}
.property-info-list:hover{
    color:crimson;
}

.fav-button{
    height: 30px;
    width: 90px;
    background-color: rgba(0, 94, 255, 0.879);
    border: 1px solid ;
    border-radius: 5px;
    color: #ddd;
    font-weight: bold;
}

.fav-button:hover{
    cursor:pointer;
}

.fav-button:active{
    background-color: rgba(0, 94, 255, 0.64);
}

.Property-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 8px;
}
