.property-page{
    padding:20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    padding: 50px;
}

.gallery-main{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 8px;
    margin-bottom: 0px;
}



.gallery-thumbs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 0px;
    gap: 10px;
    width: 80%;
}

.thumb{
    height : 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tab-content {
    display: flex;
    justify-content: center;
    font-size:20px;
}

.floorplan-image{
    max-height: 600px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.map-image{
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border: 3px solid ;
    border-radius: 8px;
}

.tabs{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
}

.tab{
    width: 100px;
    height:50px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 94, 255, 0.879);
    color:white;
    border: none;
}

.tab-active{
    width: 100px;
    height:50px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 94, 255, 0.879);
    color:white;
    border: 5px solid rgb(250, 140, 15);
}

.info-container{
    width:800px;
    padding: 5px;
    border: 2px solid;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.145);
}