/* Main page container */
.search-layout{
    padding: 10px;
}

/* Grid layout: properties on left, favourites on right */
.property-section{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
}

/* Tablet and below  */
@media (max-width: 1024px) {
    .property-section {
        grid-template-columns: 1fr;
    }
}